input {
  padding: 6px;
}
input:focus {
  border: 2px red solid;
}
button {
  padding: 5px;
  width: 5rem;
  height: 2.0rem;
}
button:active {
  position: relative;
  top: 5px;
}
.search {
  margin-top: 50px;
  margin-left: 30px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.results {
  border: black 5px solid;
  margin-top: 50px;
}
.headDiv1 {
  padding: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: rgb(215, 68, 68);
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.headDiv {
  border: 5px solid #61dafb;
}